*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#my{
  margin: 0 auto;
  width: 50%;
  height: 500px;
  margin-top: 40px;
  border: 1px dashed black;
}
header h1 {
  float: left;
  width: 20%;
  height: 500px;
  background-color: aqua;
  font-size: 30px;
  color:white;
  font-weight: bold;
  text-align: center;
}
#right{
  float: right;
  width: 78%;
}
section{
  margin-top: 15px;
}
